.f {
   border-bottom-left-radius: 200px;
   border-top-right-radius: 200px;
}
.lmn {
   list-style-type: none;
}
.lm::before {
   content: "•";
   color: #d8bea5;
   margin-right: 0.5rem;
   font-size: 20px;
}
